* {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 14px;
}

#selectors {
  box-shadow: 2px 2px 2px lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
/*  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;*/
  font-size: 14px;
  width: 95vw;
  height: 16vh;
  margin: 0 auto;
}

.nav-bar {
  /*padding: 5px 20px 20px 20px;*/
  border: 1px solid lightgray;
  /*border-radius: 1px;*/
  width: 93vw;
  height: 15vh;
  /*margin: -1px;*/
}

.nav-div {
  display: inline-block;
  padding: 5px 20px 0 20px;
  border-right: 1px solid lightgray;
  /*border-radius: 1px;*/
  width: 15.55vw;
  height: 14.3vh;
  margin: -1px;
}

select {
  height: 30px;
  width: 200px;
  background-color: snow;
  background: url('https://d30y9cdsu7xlg0.cloudfront.net/png/221782-200.png') no-repeat right;
  background-size: 10px 10px;
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
  font-family: 'Roboto', sans-serif;
}

input {
  height: 30px;
  width: 200px;
  background-color: #FFFFFF;
  /*background: url('https://d30y9cdsu7xlg0.cloudfront.net/png/221782-200.png') no-repeat right;*/
  background-size: 10px 10px;
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
  font-family: 'Roboto', sans-serif;
}
